.landing-page-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: red;
}

.nav-bar-container {
	position: relative;

	height: 8%;
	display: flex;
	justify-content: space-evenly;
}

.nav-link {
	position: relative;
	display: inline-block;
	background-color: white;
	border-right: 1px solid black;
	height: 100%;
	width: 100%;
	text-align: center;
	transition: 0.3s;
}

.nav-link:hover {
	background-color: gray;
}
