.workouts-page-container {
	position: relative;
	width: 100vw;
	height: 92%;
	background-color: white;
}

.workouts-list-container {
	position: relative;
	height: 93%;
	width: 30%;

	overflow-y: scroll;
}
