.workouts-page-container {
	position: relative;
	width: 100vw;
	height: 100%;
	background-color: white;
}

.workouts-list-container {
	position: relative;
	height: 93%;
	width: 30%;

	overflow-y: scroll;
}

.portal-button {
	position: relative;
	background-color: black;
	width: 50px;
	left: 25px;
	height: 50px;
}

.workouts-section {
	position: relative;
	top: 20px;
	height: 90%;
}
